<script>
import format from 'date-fns/format';
import formatDistanceToNow from 'date-fns/formatDistanceToNow';
import parseISO from 'date-fns/parseISO';
import { Component, Vue } from 'vue-property-decorator';
import WorkbookView from './WorkbookView.vue';
import defaultWorkbookPreview from '../assets/workbook.png';

@Component({
  components: {
    'workbook-view': WorkbookView,
  },
})
export default class ActiveWorkbook extends Vue {
  get activeWorkbook() {
    return this.$store.getters['tableau/activeWorkbook'];
  }
  get classes() {
    return this.isInFocusedMode ? 'focused' : '';
  }
  get createdAt() {
    if (!this.activeWorkbook) return '';
    return format(parseISO(this.activeWorkbook.createdAt), 'yyyy-MM-dd');
  }
  handleResize(event) {
    this.width = window.innerWidth - event.pageX;
  }
  handleResizeEnd(event) {
    event.preventDefault();
    document.removeEventListener('mousemove', this.handleResize);
    localStorage.setItem('active-workbook-view-width', this.width);
  }
  handleResizeStart(event) {
    event.preventDefault();
    document.addEventListener('mousemove', this.handleResize);
  }
  get href() {
    if (!this.activeWorkbook) return undefined;
    return this.activeWorkbook.webpageUrl;
  }
  isInEditMode = false;
  get isInFocusedMode() {
    return this.$store.state.tableau.isInFocusedMode;
  }
  mounted() {
    this.width = Number.parseInt(
      localStorage.getItem('active-workbook-view-width'),
    );
  }
  get name() {
    if (!this.activeWorkbook) return '';
    return this.activeWorkbook.name;
  }
  get ownerName() {
    if (!this.activeWorkbook || !this.activeWorkbook.owner) return '';
    return this.activeWorkbook.owner.fullName || this.activeWorkbook.owner.name;
  }
  get previewImageSrc() {
    if (!this.activeWorkbook) return defaultWorkbookPreview;
    const image = this.$store.state.tableau.workbooksPreviewImages[
      this.activeWorkbook.id
    ];
    if (!image) return defaultWorkbookPreview;
    return `data:image/png;base64, ${image}`;
  }
  get projectDescription() {
    if (!this.activeWorkbook || !this.activeWorkbook.project) return '';
    return this.activeWorkbook.project.description;
  }
  get projectName() {
    if (!this.activeWorkbook || !this.activeWorkbook.project) return '';
    return this.activeWorkbook.project.name;
  }
  get style() {
    // To provide dynamic sidebar width
    if (!this.isInFocusedMode) {
      return undefined;
    }
    return {
      width: `${this.width}px`,
    };
  }
  toggleEdit(event) {
    event.preventDefault();
    this.isInEditMode = !this.isInEditMode;
  }
  get updatedAgo() {
    if (!this.activeWorkbook) return '';
    return formatDistanceToNow(parseISO(this.activeWorkbook.updatedAt));
  }
  get views() {
    if (!this.activeWorkbook) return [];
    const workbookData = this.$store.state.tableau.workbooksData[
      this.activeWorkbook.id
    ];
    if (!workbookData) return [];
    return workbookData.views.view || [];
  }
  // width is reset from localStorage on mount
  width = 300;
  get workbookContentUrl() {
    if (!this.activeWorkbook) return [];
    return this.activeWorkbook.contentUrl;
  }
}
</script>
<style lang="scss" scoped>
.active-workbook-view {
  background-color: white;
  color: #5f68ad;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  height: 100vh;
  position: relative;
  text-decoration: none;
  width: 25vw;
  &.focused {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 75vw;
    z-index: 2;
  }
  .drag-control {
    cursor: ew-resize;
    height: 100vh;
    left: -10px;
    position: absolute;
    width: 20px;
  }
  .edit-button {
    align-items: center;
    background-color: #ffede6;
    border-style: none;
    border-radius: 4px;
    color: #fe7043;
    display: flex;
    font-weight: bold;
    font-size: 10px;
    height: 24px;
    justify-content: space-around;
    line-height: 20px;
    text-transform: uppercase;
    width: 100px;
  }
  .preview-image {
    width: 100%;
  }
  .properties {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: stretch;
    letter-spacing: 0.05em;
    line-height: 15px;
    width: 100%;
    .property {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 12px;
      width: 50%;
      .property-name {
        color: #2c3e50;
        text-transform: uppercase;
      }
    }
  }
  .project-description {
    max-width: 100%;
    padding-left: 16px;
    text-align: left;
  }
  .views {
    width: 100%;
    .views-title {
      color: #2c3e50;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
</style>
<template>
  <a
    class="active-workbook-view"
    :class="classes"
    :href="href"
    ref="activeWorkbook"
    rel="noopener noreferrer"
    :style="style"
    target="_blank"
    title="Open in Tableau"
    v-if="activeWorkbook"
  >
    <div
      class="drag-control"
      @click.prevent
      @mousedown="handleResizeStart"
      @mouseup="handleResizeEnd"
      title="Resize"
      v-if="isInFocusedMode"
    ></div>
    <img class="preview-image" :alt="name" :src="previewImageSrc" />
    <div class="properties">
      <div class="property">
        <div class="property-name">Updated</div>
        <div class="property-value">{{ updatedAgo }}</div>
      </div>
      <div class="property">
        <div class="property-name">Owner</div>
        <div class="property-value">{{ ownerName }}</div>
      </div>
      <div class="property">
        <div class="property-name">Created</div>
        <div class="property-value">{{ createdAt }}</div>
      </div>
      <div class="property">
        <div class="property-name">Project</div>
        <div class="property-value">{{ projectName }}</div>
      </div>
    </div>
    <div
      class="project-description"
      :contenteditable="isInEditMode"
      @click.stop.prevent
    >
      {{ projectDescription }}
    </div>
    <button class="edit-button" @click.stop="toggleEdit">
      <img src="../assets/tool.svg" /><span>Edit source</span>
    </button>
    <ul class="views">
      <div class="views-title">Views</div>
      <workbook-view
        :key="view.id"
        :view="view"
        :workbook-content-url="workbookContentUrl"
        v-for="view in views"
      />
    </ul>
  </a>
</template>
