<template>
  <div class="pagination">
    <img src="../assets/arrow-left.svg" class="arrow-left" alt="Back" />
    <div class="go-to-page active">1</div>
    <img src="../assets/arrow-right.svg" class="arrow-right" alt="Back" />
  </div>
</template>
