<script>
import { Component, Vue } from 'vue-property-decorator';
import ErrorNotification from './components/ErrorNotification.vue';
import SpinnerOverlay from './components/SpinnerOverlay.vue';

@Component({
  components: {
    'error-notification': ErrorNotification,
    'spinner-overlay': SpinnerOverlay,
  },
})
export default class App extends Vue {
  get error() {
    return this.$store.getters.error;
  }
  get isLoading() {
    return this.$store.getters.isLoading;
  }
}
</script>
<style lang="scss">
@import 'bootstrap/scss/bootstrap.scss';
#app {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.1em;
  text-align: center;
  color: #2c3e50;
}
</style>

<template>
  <div id="app">
    <router-view />
    <spinner-overlay v-if="isLoading" />
    <error-notification v-if="error" :error="error" />
  </div>
</template>
